extends layout
block content
    #profile-background
        img(src="/imgs/profile.jpg", alt="background")
        .img-wrapper
        .profile-info
            .container.text-center
                h3 Hi #{user.name}
                a(href="/create-article/user-"+user._id).btn.btn-primary Create Article
    #profile-articles
        h1.text-center.mt-4 Your Blog
        hr.my-4
        each article, i in articles
            a(href='/'+article.author+'/article-'+article._id)
                .card.text-center.bg-light
                    .card-header
                        h3 #{article.title} 
                    .card-body
                        p.card-text #{article.articleBody.length > 100? article.articleBody.slice(0, 100)+"...": article.articleBody}
                    .card-footer.mb-0
                        small.mb-0.text-muted In #{article.date}