*{
  margin: 0;
  padding: 0;
}

.nav-link:hover{
  color: #343a40!important;
}

.focus{
  color: #343a40!important;
}

#home-section .jumbotron,
#signup-section .jumbotron
{
  margin-bottom: 0;
}

#home-section{
  height: 650px;
}

@media screen and (max-width: 600px) {  
  #home-section #btn-container {
    margin-top: 100px;
  }
  
  #signup-section{
    padding-top: 60px;
  }}

#signup-section{
  height: 600px;
}

#article-form-title {
  /* margin-top: 100px; */
  margin-bottom: 50px;
}

#article-form #article-form-title label{
  color: #333;
  font-size: 20px;
  margin: 0;
  margin-right: 20px;
}

#article-form #article-form-title input {
  border: none;
  max-width: 600px;
  background: none;
  border-bottom: 2px solid #afafaf;;
  caret-color: #333;
  color: #333;
  font-size: 20px;
  outline: none;
}

#article-form #article-form-body label{
  color: #333;
  font-size: 20px;
  margin: 0;
  margin-right: 20px;
}

#article-form #article-form-body textarea {
  width: 100%;
  background: none;
  color: #333;
  caret-color: #333f;
  border: none;
  box-shadow: none;
  border-bottom: 2px solid #afafaf;
  border-radius: 0px;
}

#profile-background{
  width:100%;
  height:400px;
  position: relative;
  overflow: hidden;
}

#profile-background img {
  z-index:1;
  position: absolute;
  top:0;
  left:0;
  transform: translate(0px, -1200px);
  /* width:100%;
  height:100%; */
}

#profile-background .img-wrapper{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: #333;
  opacity:.5;
  z-index:2;
}

#profile-background .profile-info {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  color: #fff;
}

#profile-articles .card{
  max-width: 600px;
  display: inline-block;
  margin: 20px;
}

#profile-articles a {
  text-decoration: none;
  color: #000;

}

#article .text{
  background: #fff;
  padding: 20px;
  font-size: 20px;
  font-family: monospace;
}

.carousel-inner {
  z-index: 1;
}

.carousel-inner .carousel-item {
  height: 300px;
  overflow: hidden;
  position: relative;
}

.carousel-inner .carousel-item img {
  transform: translate(0px, -250px);
  position: absolute;
  top:0;
  left:0;
  z-index: 1;
}

.carousel-item .creator-info {
  /* margin-top: -100px; */
}

.carousel-inner .carousel-item .img-wrapper{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: #333;
  opacity: 0.5;
  z-index:2;
}

.carousel-inner .carousel-item .creator-info {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  color: #fff;
}

.carousel-control {
  z-index: 4;
}